<link rel="stylesheet" href="/css/styles.css">
<main>
  <% if (title) { %>
    <h1><%= title %></h1>
  <% } else { %>
    <h1>Vehicles</h1>
  <% } %>

  <!-- ✅ Output the vehicle list -->
  <%- grid %>  

  <%# messages() %>
</main>
